<h3>Assigned banners</h3>
<div id="assigned_banners">
  <% for banner in @page.banners %>
    <img src="<%= url_for_file_column 'banner','image','thumb',banner %>" alt="" id="banner_<%= banner.id %>" class="banners" />
  <% end %>
</div>

<h3>Available banners</h3>
<div id="available_banners">
<% for banner in (Banner.find(:all)-@page.banners) %>
  <img src="<%= url_for_file_column 'banner','image','thumb',banner %>" alt="" id="banner_<%= banner.id %>" class="banners" />
<% end %>
</div>


<%= sortable_element 'assigned_banners', :containment => ['assigned_banners','available_banners'], :tag => 'img', :constraint => '', :overlap => 'horizontal', :dropOnEmpty => true, :url => {:action => 'update_banners'}  %>

<script type="text/javascript">
//<![CDATA[
Sortable.create("available_banners", {constraint:'', containment:['available_banners','assigned_banners'], dropOnEmpty:true, overlap:'horizontal', tag:'img'})
//]]>
</script>

<p>&nbsp;</p><p>&nbsp;</p>