<%= hidden_field_tag :parent, params[:parent] %>
<%= hidden_field_tag :type, params[:type] %>

<% unless @page.new_record? or !@page.visitable? %>
  <p><%= link_to 'View page: /'+@page.slug_path, '/'+@page.slug_path %></p>
<% end %>

<%= render :partial => "admin/page_types/#{@page.admin_template}", :locals => {:f => f} %>

<div class="actions">
  <%= link_to '&larr; Cancel and go back', :action => 'index' %>
  <% if @page.new_record? %>
    <input type="submit" value="Create page" />
  <% else %>
    <input type="submit" value="Save changes" />
  <% end %>
</div>