<%= hidden_field_tag :parent, params[:parent] %>
<%= hidden_field_tag :type, params[:type] %>


  <p class="title">
    <%= f.label :title %><br />
    <%= f.text_field :title %><br />
    <%= f.error_message_on :title %>
  </p>

  <p>
    <%= f.label :parent_id, 'Parent' %><br />
    <select name="page[parent_id]" id="page_parent_id">
      <option value="">None (top level)</option>
      <optgroup label="Select a parent navigation item">
        <%= page_options @page.parent_id %>
      </optgroup>
    </select>
  </p>
