<% has_children = (page.children.count > 0 and ! page.archive?) %>
<% node_type = page.is_a?(Folder) ? 'folder' : 'file' %>
<% 

row_classes = []
if page.parent_id
  row_classes << "child-of-node-#{page.parent_id}"
end

if @expand_ids.include?(page.id) and has_children
  row_classes << "expanded"
else
  row_classes << "collapsed"
end

%>
<tr id="node-<%= page.id %>" class="<%= row_classes.join(' ') %>">
  <td class="title">
    <% if page.locked? %>
      <span class="disabled <%= node_type %>"><%= page.title %></span>
    <% else %>
      <%= link_to "<span class=\"#{node_type}\">#{truncate(page.nav_title,25)}</span>", {:action => 'edit', :id => page.id}, :class => 'title' %>
    <% end %>
  </td>
  <td>
    <% if page.children_count > 0 %>
      <%= pluralize(page.children_count,'child') %> 
      <% if page.archive? %>
        <%= link_to '(view)', admin_pages_path(:view => 'list', :parent => page.id) %>
      <% elsif page.children_count > 1 %>
        <%= link_to '(reorder)', :action => 'reorder_children', :id => page.id %>
      <% end %>
    <% end %>
  </td>
  <td><%= page.attributes['type'].to_s.underscore.humanize %></td>
  <td>
    <% if page.visitable? %>
      <%= link_to_with_icon 'view', 'View in site', '/'+page.slug_path.to_s, :target => '_blank' %>
    <% else %>
      <%= link_to_with_icon 'view', 'View in site'  %>
    <% end %>
  </td>
  <td>
    <% if page.can_have_children? %>

      <% type_args_string = page.allowed_child_types.map{|t| "'#{t}'"}.join(',') %>
      <%= link_to_function("#{image_tag('/images/admin/add.gif')} Add child", 
        "showNewPageDialog(#{page.id},[#{type_args_string}])"
      ) %>

    <% else %>
      <%= link_to_with_icon 'add', 'Add child' %>
    <% end %>    
  </td>
  <td>
    <% if page.deleteable? and !page.locked? %>
      <%= link_to_with_icon 'delete', 'Delete', admin_page_path(page), :method => :delete, :confirm => "Are you sure? This can't be undone" %>
    <% else %>
      <%= link_to_with_icon 'delete', 'Delete' %>
    <% end %>
  </td>
</tr>
