<% @page_title = "&#8220;#{@page}&#8221; child items" %>
<p>
  <%= link_to image_tag('/images/admin/plus.png')+' Add new item here', :action => 'new', :parent => params[:id] %> &nbsp; 
  <%= link_to '&larr; Back to site structure', :action => 'index' %>
</p>

<table id="site-map" class="index">
<thead>
  <tr>
    <th>&nbsp;</th>
    <th>Date</th>
    <th>Type</th>
    <th>&nbsp;</th>
    <th class="modify">&nbsp;</th>
  </tr>
</thead>
<tbody>
<% for page in @pages %>
<tr id="page-<%= page.id %>" class="node">
  <td class="page">
        <img align="center" alt="page-icon" class="icon" src="/images/admin/page.png" /> 
        <% if page.locked? %>
          <span class="title disabled"><%= page.title %></span>
        <% else %>
          <%= link_to "<span class=\"title\">#{page.title}</span>", :action => 'edit', :id => page.id %>
        <% end %>
    <%= image_tag('/images/admin/padlock.png') if page.locked? %>
  </td>
  <td><%= page.publish_date.to_date.to_s(:long) %>
  <td><%= page.type %></td>
  <td>
    <% if page.visitable? %>
      <%= link_to_with_icon 'view', 'View in site', '/'+page.slug_path.to_s, :target => '_blank' %>
    <% else %>
      <%= link_to_with_icon 'view', 'View in site'  %>
    <% end %>
  </td>
  <td>
    <% if page.deleteable? and !page.locked? %>
      <%= link_to_with_icon 'delete', 'Delete', admin_page_path(page), :method => :delete %>
    <% else %>
      <%= link_to_with_icon 'delete', 'Delete' %>
    <% end %>
  </td>
</tr>
<% end %>
</tbody>
</table>

<%= will_paginate @pages %>