<% content_for :sidebar do %>
	<h2><%= @root_page %></h2>
	<%= render_list_nav @root_page %>
	<%= render :partial => 'public/page_types/shared/side_feature' %>
<% end %>

<%= render :partial => 'public/page_types/shared/page_body' %>

<% for gallery in @galleries %>
<div class="divider">
  <h2><%= link_to_page gallery %></h2>
  <% if gallery.images.first %>
	  <a href="<%= url_for_page gallery %>"><%= uploaded_image gallery.images.first, :file, 'small' %></a>
  <% end %>
  <% if gallery.intro? %>
  <p><%= gallery.intro %></p>
  <% end %>
  <p class="readmore"><%= link_to 'view gallery', url_for_page(gallery) %></p>
</div>
<% end %>
<%= will_paginate @galleries %>