<%= hidden_field_tag :popup, params[:popup] %>
<fieldset>
  
  <p class="title">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 60, :class => 'large' %>
    <%= f.error_message_on :title %>    
  </p>

  <%= render 'admin/generic/resource_buttons' %>
</fieldset>
