<% @page_title = human_model_name.humanize.pluralize %>

<p>
  <%= link_to image_tag('/images/admin/plus.png')+' Upload a new file', new_admin_file_upload_path(:popup => params[:popup]) %> &nbsp; 
</p>

<% unless @file_uploads.empty? %>
<table class="index">
  <tr>
    <th>Title</th>
    <th>&nbsp;</th>
  </tr>
<% for file_upload in @file_uploads %>
  <tr>
    <td><%= file_upload.title %></td>
    <td class="actions" align="right">
      <% if params[:popup] == '1' %>
        <%= link_to_function "#{image_tag('/images/admin/view.gif')} Insert", "pickFile(#{file_upload.id}, '#{url_for_file_column('file_upload','file','',file_upload)}','#{file_upload.filename}','#{file_upload.filetype}')" %> &nbsp; 
			<% end %>
      <%= link_to_with_icon('edit', 'edit', edit_admin_file_upload_path(file_upload, :popup => params[:popup] )) %> &nbsp; 
      <%= link_to_with_icon('delete', 'delete', admin_file_upload_path(file_upload, :popup => params[:popup])) %>
    </td>
  </tr>
<% end %>
</table>
<%= will_paginate @file_uploads %>
<% end %>



<script type="text/javascript">

function pickFile(id,src,filename,filetype)
{
  // Create a simple file upload object
  file_upload = {
    file_upload_id: id,
    src: src,
    filename: filename,
    filetype: filetype
  }
  // pass this back to the callback defined when this popup was created
  try {
    window.opener.fileUploadLibraryCallback(file_upload, window);
  } catch (e) {
  }
}

</script>