<fieldset>

  <div class="title">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <%= render :partial => 'admin/pages/common_fields', :locals => {:f => f} %>

  <div>
    <%= f.label :url, 'URL to redirect to' %><br />
    <%= f.text_field :url, :size => 60 %>
  </div>
  
</fieldset>
