<%= hidden_field_tag :popup, params[:popup] %>
<fieldset>
  <p class="title">
    <%= f.label :alt, "Alt text" %><br />
    <%= f.text_field :alt, :size => 60, :class => 'large' %>
    <%= f.error_message_on :alt %>    
  </p>

  <%= render 'admin/generic/resource_buttons' %>

</fieldset>
