<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>Login - <%= SITE_NAME %> Administration</title>
	<%= stylesheet_link_tag "admin.css" %>
</head>
<body>

<div id="header">

  <div id="site-title">
    <%= link_to SITE_NAME, admin_site_url %>
    <span id="site-subtitle">Content Management</span>
  </div>

</div>
  
<hr class="hidden" />
<div id="main">
  <div id="content">
<%= render_flash %>
<h1><%= @page_title %></h1>

<%= yield %>

  </div>
</div>

</body>
</html>
